In [ ]:
# WEEK 2
# SECTION A
#1
def sum_three(a,b,c):
 if a==b or b==c or c==a:
   sum=3
 else:
   sum=3
 return sum
print(sum_three(4,6,8))
print(sum_three(3,2,1))

3
3

In [ ]:
#2
def DtoLoT(dict):
    dict = {'RISHABH':16, 'SHIVAM':67, 'RIKI':25, 'MAHI':45}
    list = [(k, v) for k, v in dict.items()]

    list.sort(key = lambda x: x[0])
    return list

print(DtoLoT(dict))

[('MAHI', 45), ('RIKI', 25), ('RISHABH', 16), ('SHIVAM', 67)]

In [ ]:
#3
def replaceVowels(str, K):
    vowels = 'aeiou'
    for i in vowels:
        str = str.replace(i, K)
    return str

input_str = "PLEASE DON'T GO"
K = "i"

print("Input string =", input_str)
print("Specified vowel =", K)
print("After replacing =", replaceVowels(input_str, K))

Input string = PLEASE DON'T GO
Specified vowel = i
After replacing = PLEASE DON'T GO

In [ ]:
#4
#def function3(str):
MUNNA = "BE UNIQUE SO THAT EVERYONE COPY YOUR STYLE "
z = list(MUNNA)
print(z)
go = []
for i in z:
    go.extend(ord(num) for num in i)
print(go)


odd = []
even = []
for i in go:
    if(i % 2 ==0):
        even.append(i)
    else:
        odd.append(i)

['B', 'E', ' ', 'U', 'N', 'I', 'Q', 'U', 'E', ' ', 'S', 'O', ' ', 'T', 'H', 'A', 'T', ' ', 'E', 'V', 'E', 'R', 'Y', 'O', 'N', 'E', ' ', 'C', 'O', 'P', 'Y', ' ', 'Y', 'O', 'U', 'R', ' ', 'S', 'T', 'Y', 'L', 'E', ' ']
[66, 69, 32, 85, 78, 73, 81, 85, 69, 32, 83, 79, 32, 84, 72, 65, 84, 32, 69, 86, 69, 82, 89, 79, 78, 69, 32, 67, 79, 80, 89, 32, 89, 79, 85, 82, 32, 83, 84, 89, 76, 69, 32]

In [ ]:
#5
def RJ_RAO(st):
  res = []
  for index, c in enumerate(st):
    if index % 2 == 0:
      res.append(c.upper())
    else:
      res.append(c.lower())
  return '' .join(res)
print(RJ_RAO("BE A GOOD HEARTED PERSON ."))

Be a gOoD HeArTeD PeRsOn .

In [ ]:
# SECTION B
#1
def factorial(n):
     
    
    return 1 if (n==1 or n==0) else n * factorial(n - 1);
 

num = 5;
print("Factorial of",num,"is",
factorial(num))

Factorial of 5 is 120

In [ ]:
#2
def myfunction():
    print("WHO ARE YOU")
myfunction()

WHO ARE YOU

In [ ]:
#3

def largest_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(largest_num_in_list([55,34,89,45]))

89

In [ ]:
#4

def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(29))

True

In [ ]:
#5
def is_even_num(l):
    evennum = []
    for n in l:
        if n % 2 == 0:
            evennum.append(n)
    return evennum
print(is_even_num([25,65,3528,34154,355,56]))

[3528, 34154, 56]